@font-face {
    font-family: 'Typo Round Regular Demo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Typo Round Regular Demo Regular'), url('../webfonts/Typo_Round_Regular_Demo.woff') format('woff');
}

.dashboardHome .navbar .search-container .search {
    margin-top: -.28rem;
}

.dashContainer {
    /* width: 70.9rem; */
    /* height: 50rem; */
    display: inline-block;
    margin: auto;
    margin-top: 7.1rem;
    text-align: left;
}

.dashSidebar {
    /* width: 35.1rem; */
    /* height: 30rem; */
    display: inline-block;
    margin: auto;
    top: 0rem;
    margin-top: -20rem;
}

.dashHeader .display-3 {
    font-weight: bold;
    font-family: 'Typo Round Regular Demo Regular', 'Hind Siliguri';
}

.dashHeader h1 {
    font-size: 3.4rem;
    color: #BE1C3E;
    line-height: 5rem;
}

.sectionTitle {
    font-size: 3.6rem;
    font-family: 'Typo Round Bold Demo Regular', 'Hind Siliguri';
    font-weight: bold;
}

.sectionSubtitle {
    font-size: 3rem;
}

h3 {
    font-size: 2.6rem;
}

time {
    font-size: 2.2rem;
}

.paragraphText {
    font-size: 20px;
    color: #444444;
}

.category {
    font-size: 18px;
    font-family: 'Typo Round Regular Demo Regular';
}

.views {
    font-size: 1.4rem;
}

/* --------------------Common CSS End-------------------- */





/* ==============dashboard_01 CSS start=============== */
/* -----------dashHeader section css start----------- */
.dashHeader .suggestionBar iframe {
    width: 95%;
    height: 398px;
}

.dashHeader p {
    color: #802978;
}

.dashHeader .suggestionBar .title {
    font-family: 'Typo Round Bold Demo Regular';
    margin-top: 2.6rem;
}

.dashHeader .suggestionBar .subtitle {
    font-family: 'Typo Round Regular Demo Regular';
    margin-bottom: 1.4rem;
}

/* -----------dashHeader section css end------------ */
/*--------------------------------------------------*/
/* -----------subject section css start----------- */
.subjectSelection .sectionTitle {
    margin-top: 10.2rem;
    margin-bottom: 2.3rem;
}

.subjectSelection .selectSubject {
    width: 16.2rem;
    height: 16.2rem;
    color: rgb(0, 0, 0);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #24415D4D;
    border-radius: 10%;
    display: inline-block;
    margin: .6rem;
    text-align: center;
}

.subjectSelection .selectSubject:hover {
    background: transparent linear-gradient(180deg, #9A6FE8 0%, #492092 100%);
    color: #fff;
    transition: all linear .4s;
}

.subjectSelection .selectSubject img {
    width: 6.8rem;
    height: 6.8rem;
    margin-top: 1.3rem;
    margin-bottom: 2.6rem;
}

.subjectSelection .selectSubject h3 {
    font-size: 2.6rem;
    height: 5rem;
    margin-bottom: 0;
}

/* -------------subject section css end------------- */
/*--------------------------------------------------*/
/* -------------studyIncrease section css Start------------- */
.studyIncrease .increaseVolume .volumeBorder .skills {
    height: 4rem;
    font-size: 1.8rem;
    text-align: right;
    padding-top: .5rem;
}

/* -------common css------------ */
.studyIncrease {
    margin-top: 10.3rem;
}

.studyIncrease .category select {
    border: none;
    display: inline-block;
}

.studyIncrease .category .fa-calendar-days {
    color: #792A7F;
    font-size: 1.8rem;
    border: none;
    display: inline-block;
    margin-right: -1.5rem;
}

.studyIncrease .sectionSubtitle {
    display: inline-block;
    margin-bottom: 3.4rem;
}

.studyIncrease .increaseVolume {
    width: 46rem;
    box-sizing: border-box;
}

.studyIncrease .increaseVolume .volumeBorder {
    width: 100%;
    height: 4rem;
    border-radius: 2rem;
    display: inline-block;
    margin-top: 4rem;
}

.studyIncrease .increaseVolume .volumeBorder img {
    width: 6rem;
    height: 6rem;
    float: left;
    margin-top: -1rem;
    margin-left: -1px;
}

.studyIncrease .increaseVolume .volumeBorder p {
    color: #fff;
    float: left;
    line-height: 4rem;
    margin-left: 1rem;
}

.studyIncrease .increaseVolume .volumeBorder .skills span {
    padding: .8rem .6rem;
    color: #000;
    font-weight: 500;
    background-color: #fff;
    border-radius: 50%;
    font-size: 100%;
    margin-right: -1px;
}

.studyIncrease .increaseVolume .phy {
    border: 1px solid #562DA0;
}

.studyIncrease .increaseVolume .phy .skills span {
    border: .7rem solid #916bd3;
}

.studyIncrease .increaseVolume .phy .physics {
    width: 90%;
    background: transparent linear-gradient(270deg, #AB7FF9 0%, #451C8E 100%) 0% 0% no-repeat padding-box;
    border-radius: 2rem;
    margin-top: -.1rem;
}

.studyIncrease .increaseVolume .mat {
    border: 1px solid #FFC46D;
}

.studyIncrease .increaseVolume .mat .skills span {
    border: .7rem solid #FFC46D;
}

.studyIncrease .increaseVolume .mat .math {
    width: 50%;
    background: transparent linear-gradient(270deg, #FFD18E 0%, #FF9900 100%) 0% 0% no-repeat padding-box;
    border-radius: 2rem;
    margin-top: -.1rem;
}

.studyIncrease .increaseVolume .che {
    border: 1px solid #DE62FA;
}

.studyIncrease .increaseVolume .che .skills span {
    border: .7rem solid #DE62FA;
    padding: .9rem .4rem;
}

.studyIncrease .increaseVolume .che .chemistry {
    width: 100%;
    background: transparent linear-gradient(270deg, #EFACFF 0%, #D834FF 100%) 0% 0% no-repeat padding-box;
    border-radius: 2rem;
    margin-top: -.1rem;
}

.studyIncrease .increaseVolume .bio {
    border: 1px solid #3DBFFC;
}

.studyIncrease .increaseVolume .bio .skills span {
    border: .7rem solid #3DBFFC;
}

.studyIncrease .increaseVolume .bio .biology {
    width: 75%;
    background: transparent linear-gradient(270deg, #7AD3FF 0%, #00AAFF 100%) 0% 0% no-repeat padding-box;
    border-radius: 2rem;
    margin-top: -.1rem;
}

/* -------------studyIncrease section css end------------- */
/* ---------------------------------------------------------------------- */
/* -------------previousStudyList section css start------------- */

.dashSidebar .sectionTitle {
    color: #802978;
    text-align: left;
}

.dashSidebar .sectionSubtitle {
    margin-bottom: 4.5rem;
    text-align: left;
}

.dashSidebar .selectedPlaylist .card button {
    margin-top: -28px;
}

.dashSidebar .selectedPlaylist .card button .fa-play {
    margin: 0;
    border: none;
    color: #fff;
}








/* -------------previousStudyList section css end------------- */

/* =============dashboard_01 CSS end============= */
/* ============================================== */





/* ============================================== */
/* =============videoPage CSS start============= */
.bg {
    background: url(../img/Shadow.png);
    width: 100%;
    height: 85.956rem;
    background-size: cover;
}

.bg .navbar .search-container .searchButton {
    margin-top: 0.3rem;
}

.bg .navbar .search-container .search {
    margin-top: 0rem;
}

.videoPage {
    margin-top: 8rem;
    background-color: #fff;
    box-shadow: 0px 0px 5px #00000029;
}

.videoPageContainer {
    width: 68%;
    margin: auto;
    padding-top: 6.4rem;
}

.videoPage .banner-video {
    width: 100%;
    background: transparent linear-gradient(300deg, #F6BE33 0%, #3983FF 100%) 0% 0% no-repeat padding-box;
    background-size: cover;
    display: inline-block;
}

.videoPage .banner-video iframe {
    width: 98%;
    height: 409px;
    margin: .5rem 0 0 0rem;
}

.videoHead {
    margin-top: 3rem;
}

.videoHead .headContent,
.videoContent .videoDetails {
    width: 70%;
    float: left;
}

.videoHead .headIcon img {
    float: right;
    margin-left: 2rem;
}

.videoHead .headContent .h1 {
    font-size: 3.4rem;
    font-weight: normal;
    font-family: 'Hind Siliguri', sans-serif;
}

.videoHead p {
    font-weight: bold;
}

.videoPlaylistArea .videoPlaylist .videoContent {
    margin-top: 3rem;
}

.videoPlaylistArea .videoPlaylist .videoContent:hover {
    color: #792A7F;
}

.videoPlaylistArea .videoPlaylist .videoContent .thumbnail img {
    width: 10rem;
    height: 6.8rem;
}

.videoPlaylistArea .videoPlaylist .videoContent .videoDetails h3 {
    text-align: left;
}

.videoPlaylistArea .videoPlaylist .videoContent .videoDetails time {
    float: left;
    font-weight: 500;
    color: #000;
}

hr {
    width: 100%;
}

.videoPlaylist .videoContent .thumbnail img {
    width: 10rem;
    float: left;
    margin-right: 1rem;
}

.percentage {
    position: relative;
    top: 4px;
    left: 4px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
}

.watchPercentage {
    position: relative;
    text-align: center;
    float: right;
    width: 58px;
    height: 58px;
    margin-left: 0%;
    margin-bottom: 2.5rem;
    border-radius: 50%;
    background-color: #1A73E8;
    background-image: linear-gradient(170deg, transparent 33%, #D8DADE 35%), linear-gradient(0deg, #D8DADE 80%, transparent 0%);
}

.watchPercentage .category {
    font-size: 19px;
    line-height: 4.5rem;
    font-family: 'Typo Round Regular Demo Regular';
}

.videoPlaylistArea {
    padding-bottom: 0rem;
}

.videoPageContainer form {
    text-align: center;
}

.videoPage .videoPageContainer button {
    margin-bottom: 3rem;
}

/* =============videoPage CSS end============= */









/* ========================================== */










/* =============videoLessons CSS start=========== */
.videoLessons .display-3 {
    text-align: left;
    font-family: 'Typo Round Regular Demo Regular', 'Hind Siliguri';
    margin-left: -.5%;
}

.videoLessons .headContent {
    text-align: left;
    font-family: 'Typo Round Regular Demo Regular', 'Hind Siliguri';
}

.videoLessons .videoHead .headContent .h3 {
    font-size: 2.6rem;
    font-weight: bold;
    font-family: 'Typo Round Regular Demo Regular';
    line-height: 6rem;
}

.videoLessons .videoHead .duration {
    margin-bottom: -2rem;
}

.videoLessons .videoHead .duration i {
    margin: auto;
}

.videoLessons .videoHead .duration .fa-video {
    color: #DE1826;
    margin-left: -2%;
}

.videoLessons .videoHead .duration .fa-clock-rotate-left {
    color: #782A80;
}

.videoLessons .videoHead .headIcon select {
    font-size: 2rem;
    float: right;
    border: 1px solid white;
    font-family: 'Typo Round Regular Demo Regular', 'Hind Siliguri';
}

.videoLessons .borderSpecial {
    margin-left: -3rem;
    margin-bottom: -1rem;
    width: 110%;
    border-bottom: 2px solid #707070;
}

.videoLessons .videoPlaylist .videoContent {
    margin-top: 2rem;
}

.videoLessons .videoPlaylist .videoContent h3 {
    font-size: 2.6rem;
    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    color: #792A7F;
}

.videoLessons .videoPlaylist .videoContent span {
    font-size: 2.2rem;
    margin: auto;
    float: left;
    font-family: 'Typo Round Regular Demo Regular';
}

.videoLessons .videoPlaylist .watchPercentage {
    margin-top: -4rem;
    margin-bottom: 3rem;
}

.videoLessons .videoLoadMore button {
    margin-top: 5.8rem;
    margin-bottom: 5rem;
    text-align: center;
}

/* =============videoLessons CSS end=========== */





/* ========================================== */





/* =============questionBank CSS start=========== */


.questionBank {
    height: 93rem;
}

.questionBank .display-2 {
    font-size: 4.6rem;
    font-family: 'Typo Round Bold Demo Regular';
}

.questionBank .subjects {
    width: 90rem;
    height: auto;
    margin-top: 5rem;
    text-align: left;
}

.questionBank .selectSubject {
    width: 25.4rem;
    height: auto;
    background: #FF4650;
    margin: 1rem;
    border-radius: 5px;
    display: inline-block;
}

.questionBank .selectSubject:hover {
    transition: all linear 0.3s;
    box-shadow: .3rem .3rem .5rem #782A80;
}

.questionBank .selectSubject span {
    width: 80%;
    padding: 3px 0px 3px 6px;
    font-size: 3.3rem;
    color: #fff;
    float: left;
    background-color: #772D7E;
    border-radius: 5px;
    font-family: 'Typo Round Regular Demo Regular', 'Hind Siliguri';
}

.questionBank .selectSubject i {
    float: right;
    font-size: 5rem;
    padding: .25rem .5rem;
    color: #fff;
    border-radius: 5px;
    margin: 0px -1px auto auto;
    float: right;
}

/* =============questionBank CSS end=========== */








/* ========================================== */






/* =============videoPlaylistPage CSS start=========== */

.videoPlaylistPage .col-8 {
    box-shadow: 0px 0px 6px #00000029;
}

.videoPlaylistPage .playListContentArea {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: auto;
    background-color: #ffffff;
}

.vpPage .display-1 {
    font-size: 4.6rem;
    font-weight: bold;
    color: #3289F1;
    font-family: 'Typo Round Regular Demo Regular';
    padding-top: 13.5rem;
    padding-bottom: 2.93rem;
    border-bottom: 2px solid #782A80;
}

.vpPage .sectionTitle {
    color: #535353;
}

.videoPlaylistPage .videoListArea .card {
    width: 90%;
    border-radius: .5rem;
    font-size: 2.6rem;
}

.videoPlaylistPage .videoListArea li {
    line-height: 5rem;
    list-style-type: none;
    color: #535353;
    border-bottom: 1px solid #00000029;
    box-shadow: 0px 0px 6px #58555529;
}

.videoPlaylistPage .videoListArea li span {
    font-family: 'Typo Round Regular Demo Regular';
    margin-left: 5%;
}

.videoPlaylistPage .addBtn {
    width: 70%;
    margin: 1rem auto auto 1rem;
}

.videoPlaylistPage .addBtn span {
    color: #762A82;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5%;
    font-family: 'Typo Round Regular Demo Regular';
}

.videoPlaylistPage .videoListArea .addBtn .fa-plus {
    color: #762A82;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 0.2rem;
    border-radius: 50%;
    border: 3px solid #762A82;
}

.videoPlaylistPage .videoListArea li:hover,
.playListContent {
    color: #762A82;
    background: #E3E3E3;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 0px 6px #00000029;
    transition: all linear 0.3s;
}

.videoPlaylistPage .videosList {
    width: 98%;
    height: 8rem;
    margin-top: 3rem;
    margin-left: 1.4rem;
    color: #000000;
    border-bottom: 2px solid #00000029;
}

.videoPlaylistPage .videosList img {
    width: 9.6rem;
    height: 6.5rem;
    float: left;
}

.videoPlaylistPage .videosList p {
    width: 70%;
    font-size: 2.5rem;
    float: left;
    margin-left: 2rem;
    font-family: 'SolaimanLipi', sans-serif;
}

.videoPlaylistPage .videosList time {
    float: right;
    /* font-family: 'Roboto', sans-serif; */
}

.videoPlaylistPage .videoLoadMore {
    /* float: none; */
    text-align: center;
}

/* =============videoPlaylistPage CSS end=========== */







/* ========================================== */







/* =============Profile CSS start=========== */
.profilePage {
    margin-top: 10rem;
}

.profilePage .profileSidebar {
    width: 100%;
    margin-top: -15rem;
}

.profilePage .profileSidebar .profilePicture {
    width: 100%;
    align-items: center;
}

.profilePage .profileSidebar .profilePicture img {
    width: 14.8rem;
    margin-top: 10%;
}

.profilePage .profileSidebar .profilePicture .display-3 {
    margin-top: 10%;
    margin-bottom: 3.4rem;
    font-family: 'Typo Round Regular Demo Regular';
}

.profilePage .profileSidebar .dpChangingArea button {
    font-size: 2rem;
    width: 48%;
    height: 5.4rem;
    margin-top: 2rem;
    background-color: #fff;
    border: 1px solid #00000029;
    font-family: 'Typo Round Regular Demo Regular';
}

.profilePage .profileSidebar .dpChangingArea button:hover {
    color: #fff;
    background: transparent linear-gradient(270deg, #E11723 0%, #792A80 100%) 0% 0% no-repeat padding-box;
    transition: all linear .3s;
}

/* ---------fieldset & profileDetails area-------- */

.profilePage .profileDetails {
    width: 100%;
    text-align: left;
}

.profilePage .profileDetails .form {
    width: 53%;
    margin: 4.5rem auto 4rem 8.2rem;
}


.profileDetails fieldset {
    border: 0.5px solid #00000029;
    margin-bottom: 3.2rem;
}

.profileDetails fieldset:hover {
    box-shadow: 0px 0px 3px #00000029;
}

.profileDetails legend {
    font-size: 1.8rem;
    color: #762A82;
    float: none;
    width: auto;
    margin-left: 1rem;
    font-family: 'Typo Round Bold Demo Regular';
}

.profileDetails label {
    font-size: 1.8rem;
    font-family: 'Typo Round Regular Demo Regular';
    margin: auto auto 1rem 1rem;
}


/* =============Profile CSS end=========== */