* {
    margin: 0rem;
    padding: 0rem;
    outline: 0rem;
}

html {
    font-size: 62.5%;
}

.container {
    width: 111rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.loginArea {
    background: url(../img/Shadow.png);
    width: 100%;
    height: auto;
    background-size: cover;
}

#navbar {
    width: 100%;
    background: transparent linear-gradient(90deg, #7A2A7E 0%, #E31620 100%) 0% 0% no-repeat padding-box;
    height: 7.9rem;
}

.userProfile img {
    width: 5.4rem;
    margin-top: -.4rem;
}

h2 {
    font-size: 3rem;
    width: 67.94%;
    height: 8.8rem;
    color: #fff;
    text-align: center;
    margin-top: 7.98%;
    margin-bottom: 9.66%;
    font-family: 'Typo Round Regular Demo Regular', 'Hind Siliguri';
}

.submitCard {
    background: transparent linear-gradient(180deg, #762A82 0%, #9A245F 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px .3rem .6rem #FFFFFF;
    border: 0.5px solid #FFFFFF;
    border-radius: 1.5rem;
    margin-top: 16rem;
    text-align: center;
    justify-items: center;
    /* align-items: center; */
    /* margin: auto; */
}

footer {
    margin-top: 15rem;
}

.contactDetails .footerLogo img {
    margin-top: 1rem;
}

.footerArea .contactDetails ul {
    margin: 0;
    padding: 0;
}

.footerArea .contactDetails h2 {
    margin-top: 0rem;
    margin-bottom: 0rem;
    height: 5rem;
}

.registerBGHeight {
    height: 77rem;
}

/* -------common CSS close------- */


.loginCard {
    width: 65.2rem;
    height: auto;
    margin: 14.5% auto 14% auto;
}

.loginForm {
    text-align: center;
}

.input {
    width: 75%;
    height: 7.86%;
    margin-bottom: 6.13%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px .3rem .6rem #00000029;
    border-radius: .5rem;
    display: inline-block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.fa-solid {
    font-size: 2.4rem;
    color: #5F5F5F;
    padding: 1rem;
    margin-left: -20rem;
    margin-top: .4rem;
    border-right: .1rem solid #762A82;
}

.searchInput {
    height: 5.5rem;
    font-size: 2.4rem;
    font-family: 'Typo Round Regular Demo Regular';
    border: none;
    margin-left: -4.5rem;
}

::placeholder {
    color: #AAAAAA;
}

.placeholderRed ::placeholder {
    color: red;
}

.loginForm button {
    width: 14rem;
    height: 4.5rem;
    font-size: 2rem;
    background-color: transparent;
    color: #fff;
    border: 2px solid #FFF;
    box-shadow: .3rem .3rem .5rem #782A80;
    border-radius: 2.3rem;
    margin: 2.57%;
    cursor: pointer;
    font-family: 'Typo Round Regular Demo Regular', 'Hind Siliguri';
}

.submitCard .regButton {
    width: auto;
    display: inline-block;
    margin-top: 13%;
    margin-bottom: 6%;
    /* height: 10rem; */
    border: none;
}

.submitCard .regButton h3 {
    font-size: 2.6rem;
    color: #fff;
    margin-top: -5rem;
    margin-bottom: 2rem;
    font-family: 'Typo Round Regular Demo Regular';
}

.submitCard .regButton button {
    font-size: 2.4rem;
    width: 21.1rem;
    height: 5.4rem;
    margin: auto;
    background: #FFF;
    border-radius: 2.7rem;
    border: none;
    font-family: 'Typo Round Regular Demo Regular', 'Hind Siliguri';
}

.loginForm:hover button {
    background: transparent linear-gradient(135deg, #9e4ab1 0%, #be222a 100%) 0% 0% no-repeat padding-box;
    transition: all linear 0.4s;
    box-shadow: 0px 0px 20px #9e4ab1;
    color: #fff;
}

.regButton button:hover {
    color: #E11722;
}

.nextBtn {
    margin-bottom: 4.5rem;
}

.passReset img {
    margin-top: 3.8rem;
    margin-bottom: 4.69rem;
}

.passReset h3 {
    font-size: 2.6rem;
    color: #fff;
    padding-bottom: 2.5rem;
    font-family: 'Typo Round Regular Demo Regular';
}

.passReset .input {
    margin-bottom: 0;
}

.forgotPass {
    font-size: 2.4rem;
}

.forgotPass a,
.otpResend a {
    color: #F6BD30;
}

.otpResend {
    font-size: 18px;
    color: #fff;
    text-align: right;
    margin-right: 13%;
    line-height: 30px;
    font-family: roboto;
}

.admittedClass {
    height: 38.51rem;
}

.admittedClass h2 {
    height: 5.8rem;
}

.admittedClass .admit {
    width: 50%;
    height: 5rem;
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    border-radius: 5px;
    transition: all linear 0.3s ease-in-out;
}

.admittedClass .admit a {
    line-height: 5rem;
    text-decoration: none;
    color: #fff;
    font-size: 2.4rem;
}

.admittedClass .admit:hover {
    background: transparent linear-gradient(90deg, #882670 0%, #e0b8b8 51%, #872770 100%) 0% 0% no-repeat padding-box;
}

.admittedClass .admit i {
    color: transparent;
    border: none;
}

.admittedClass .admit:hover i,
.selectBirthday i {
    color: #fff;
    padding: 1.2rem;
    margin-top: 0.5px;
    background-color: red;
    border-radius: 10%;
    transition: all linear 0.1s;
}

.admittedClass .admit:hover a {
    font-size: 4rem;
    transition: all linear 0.2s;
}

.selectBirthday {
    height: 28.755rem;
}

.selectBirthday h2 {
    margin-bottom: auto;
}

.selectBirthday select {
    padding: .8rem;
    font-size: 24px;
    color: #AAAAAA;
    font-family: 'Typo Round Regular Demo Regular';
}

.selectBirthday i {
    margin: 0 0 -1.7rem -1rem;
}

.newPassword h2 {
    width: 90%;
    margin-bottom: 5.2rem;
}

.success {
    height: 47.307rem;
}

.success span {
    text-transform: uppercase;
    font-size: 4.579rem;
    color: #FED481;
    letter-spacing: 2.75px;
    margin-bottom: 1.72rem;
    display: block;
    font-family: 'Typo Round Demo';
}

.success img {
    margin-bottom: 1.95rem;
}

.success h3 {
    margin-bottom: 0rem;
}